@import url(phone.css);

body{
    font-family: sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    background-color: #48dae86d;
    letter-spacing: -0.03em;

}

.container{
    width: 1150px;
    margin: 0 auto;
}

.all-info{
    text-align: center;
}

h1{
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
}

h2{
    font-size: 40px;
    margin-bottom: 0;
}

button{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(34, 105, 167);
}
button:hover{
    cursor: pointer;
}

img{
    height: 500px;
    width: 600px;
}
@media (max-width:767px){ 
    .container{
        width: 100%;
    }
    img{
        height: 250px;
        width: 300px;
    }
    h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    h2{
        font-size: 13px;
        margin-bottom: 10;
    }
    
    button{
        width: 200px;
        height: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        color: white;
        font-size: 10px;
        background-color: rgb(34, 105, 167);
    }
}