@media (max-width:767px){ 
    .container{
        width: 100%;
        padding: 0 13px;
    }
    img{
        height: 200px;
        width: 400px;
    }
    h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    h2{
        font-size: 20px;
        margin-bottom: 10;
    }
    
    button{
        width: 300px;
        height: 40px;
        margin-bottom: 20px;
        border-radius: 5px;
        color: white;
        background-color: rgb(34, 105, 167);
    }
}